@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  background: url(../img/sp-background-1.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}


.btn-menu {
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive, sans-serif;
    font-size: 25px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn-menu:hover {
    transform: scale(2);
}

.btn-difficulty {
    transform: scale(1.2);
}

.btn-difficulty:hover {
    transform: scale(1.5);
}

img {
    width: 100px;
}

.disclaimer {
    font-size: 12px;
}

a {
    color: black;
    text-decoration: none;
    transform: scale(1);
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

.fa-github:hover {
    transform: scale(1.5);
}

.game-board {
    height: 750px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

/*Using calc to subtract margin in order to fit card container*/

.game-card {
    width: calc(25% - 8px);
    height: calc(33.333% - 8px);
    position: relative;
    margin: 4px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: all 0.4s ease;
    background-color: rgb(180 185 178 / 50%);
    border-radius: 5%;
}

.game-card:active {
    transform: scale(.96);
    transition: transform .1s;
}

.game-card:hover {
    cursor: pointer;
}

.front-side,
.back-side {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    backface-visibility: hidden;
}

.front-side {
    transform: rotateY(180deg);
}



.cardFlipped {
    transform: rotateY(180deg);
}


#flips {
    
    color: black;
    font-family: 'Alfa Slab One', cursive, sans-serif;
    margin-top: 15px;
}

#timer {
    color: black;
    font-family: 'Alfa Slab One', cursive, sans-serif;
    margin-top: 15px;
}

#restart-icon {
    margin-top: 20px;
    cursor: pointer;
}

.row-header {
    width: 750px;
    display: flex;
    margin: auto;
    margin-top: 10vh;
    font-size: 20px;
}

.modal {
    font-family: 'Alfa Slab One', cursive, sans-serif;
}

.modal-content {
    border: none!important;
}

.menu {
    background-color: #8be4e2;
}

.winning-modal {
    background-color: #edeeed;
    background-image: url(../img/sp-group.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 99;
    height: 200px;
}

.modal-content-background {
     background: url(../img/sp-group-3.png) bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    border-radius: .3rem
}

.modal-header {
    z-index: 102;
}

.modal-body  {
    z-index: 102;
}



.modal-footer {
    z-index: 102;
}


#restart-icon {
    transform: scale(1);
}



.icon-div{
    position: relative;
}

#mute:hover, #volume:hover {
    transform: scale(1.5);
    transition: transform .1s;
}

#mute, #volume {
    position: absolute;
    margin-top: 20px;
    cursor: pointer;
    transform: scale(1);
}

.muted {
    display: none;
}

h4, h5, h6 {
    letter-spacing: 1.5px;
}

#flips, #timer{
    letter-spacing: 1.5px;
}

.btn {
    letter-spacing: 1.5px;
}

#easy, #medium, #hard {
    transform: scale(1);
}

#easy:hover,
#medium:hover,
#hard:hover {
    transform: scale(1.2); 
    transition: transform .1s;
}

#easy:active,
#medium:active,
#hard:active {
    transform: scale(1.5); 
    transition: transform .1s;
}

#easy:visited {
    border: 1px solid red;
}

.modal-backdrop.show {
    opacity: 1;
}

.modal-backdrop {
        /* background-color: #0269f7; */
        
    background: url(../img/sp-background-1.png) center center / cover no-repeat fixed;
    overflow: hidden;
}

.bubble {
    width: 250px;
    position: absolute;
    z-index: 103;
    margin-left: 10%;
}



/*Making an image shake, code from https://www.w3schools.com/howto/howto_css_shake_image.asp */
.pc {
    width: 250px;
    position: absolute;
    z-index: 103;
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/*media queries for index.html*/

@media only screen and (max-width: 768px) {
  
  .bubble{
      width: 180px!important;
      margin-left: 5%!important;
  }

  .pc {
      width: 170px!important;
      margin-top: 15%!important;
  }

  .game-board {
      height: 320px!important;
      width: 320px!important;
  }

    .front-side,
    .back-side {
        padding: 15px 5px 15px 5px!important;
    }

    .modal-dialog-centered {
        align-items: start;
        position: relative;
    }

    .modal-content-background {
        height: 500px;
    }

    .modal-body {
        padding: 1px;
    }
    
    #easy:active,
    #medium:active,
    #hard:active {
        transform: scale(1.2); 
    }

    .btn {
        padding: .2rem .5rem;
    }

    .btn-menu {
        font-size: 12px;
    }

    .row-header {
        font-size: 12px;
        --bs-gutter-x: 0;
        width: 300px;
    }
}


/*contact.html*/

.center-form {
    width: 750px;
    margin: auto;
}

.btn-contact:hover {
    background-color: #306a51;
    border: #306a51;
}

.sp-logo-contact {
    width: 300px;
    margin-top: 20px;
}

.text-above-form {
    margin-top: 30px;
    font-family: 'Alfa Slab One', cursive, sans-serif;
}

.back-to-menu {
    width: 750px;
    margin: auto;
    --bs-gutter-x: 0;
    align-items: center;
}

.btn-back {
    font-family: 'Alfa Slab One', cursive, sans-serif;
    text-align: end;
}

.disclaimer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.github {
    position: fixed;
    width: 100%;
    bottom: 100px;
}

/*media queries for contact.html*/

@media only screen and (max-width: 768px) {
    .sp-logo-contact{
        width: 200px;
    }

    .text-above-form {
    margin-top: 10px;
    font-size: 12px;
}

.center-form {
    width: 300px;
}

.back-to-menu{
    width: 300px;
}


.disclaimer {
    position: static;
    bottom: 0;
    width: 100%;
}

.github {
    position: static;
    width: 100%;
    bottom: 100px;
    margin-top: 40px;
}

.btn-contact {
    font-size: 12px;
    
}

.btn-back {
    font-size: 12px;
    
}

.disclaimer {
    font-size: 8px;
}

}