@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  background: url(../img/sp-background-1.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.sp-card {
    min-width: 50px;
    max-height: 80px;
    
}

.sp-logo {
    max-width: 200px;
    margin-top: 20px;
}

.btn-menu {
    margin-top: 20px;
    font-family: 'Alfa Slab One', cursive, sans-serif;
}

.btn-menu:hover {
    transform: scale(2);
}

.btn-difficulty {
    transform: scale(1.2);
}

.btn-difficulty:hover {
    transform: scale(1.5);
}

img {
    width: 100px;
}

.game-board {
    height: 750px;
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    /* border: 1px solid black; */
}

/*Using calc to subtract margin in order to fit card container*/

.game-card {
    width: calc(25% - 8px);
    height: calc(33.333% - 8px);
    position: relative;
    margin: 4px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: all 0.4s ease;
    background-color: rgba(230, 243, 223, 0.5);
    border-radius: 5%;
}

.game-card-md {
    /* width: calc(16.666% - 8px);
    height: calc(33.333% - 8px);
    position: relative;
    margin: 4px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: all 0.4s ease;
    background-color: rgba(230, 243, 223, 0.5);
    border-radius: 5%; */
}



.game-card-hd {
    display: none;
}

.game-card:active {
    transform: scale(.96);
    transition: transform .1s;
}

.game-card:hover {
    cursor: pointer;
}

.front-side,
.back-side {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    backface-visibility: hidden;
}

.front-side {
    transform: rotateY(180deg);
}



.cardFlipped {
    transform: rotateY(180deg);
}


#flips {
    width: 90px;
    height: 40px;
    font-size: 20px;
    color: black;
    font-family: 'Alfa Slab One', cursive, sans-serif;
}

.modal {
    font-family: 'Alfa Slab One', cursive, sans-serif;
}

.modal-content {
    background-color: #edeeed;
    background-image: url(../img/sp-group-3.png);
    background-repeat: no-repeat;
    background-size: contain;

}



